*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.757),transparent),url("landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.fig{
    color: aqua;
    background-color: rgba(29, 127, 233, 0.619);
    width: 45%;
    padding: 8rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}